{{ define "main" }}
    {{ partial "header/standard.html" . }}

    <div class="content main-container" id="site-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12 col-sm-12 posts-archive">
                    {{ range ((where .Site.RegularPages "Section" "blog").ByParam "date").Reverse }}
					<article class="post">
						<div class="row">
							<div class="col-md-4 col-sm-4"> 
								<a href="{{ .RelPermalink }}"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="" class="img-thumbnail"></a> 
							</div>
							<div class="col-md-8 col-sm-8">
								<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
								<span class="post-meta meta-data"> 
									<span><i class="fas fa-calendar-alt"></i>{{ .Date.Format "Jan 2, 2006" }}</span>
									<span><i class="fas fa-archive"></i> <a href="#">Uncategorized</a></span> 
									<!--<span><a href="#"><i class="fas fa-comment"></i> 12</a></span>-->
								</span>
								<p>{{ .Summary }}</p>
								<p><a href="{{ .RelPermalink }}" class="btn btn-primary">Continue reading <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
						</div>
					</article>
                    {{ end }}
					
					<ul class="pagination">
						<li><a href="#"><i class="fas fa-chevron-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#"><i class="fas fa-chevron-right"></i></a></li>
					</ul>
				</div>
				<!-- Start Sidebar -->
				<div class="col-lg-3 col-md-12 col-sm-12 sidebar">
					<div class="widget sidebar-widget search-form-widget">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" placeholder="Search Posts...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fas fa-search fa-lg"></i></button>
							</span> 
						</div>
					</div>
					<div class="widget sidebar-widget">
						<div class="sidebar-widget-title">
							<h3>Post Categories</h3>
						</div>
						<ul>
							<li><a href="#">Lodge Events</a> (10)</li>
							<li><a href="#">Articles</a> (12)</li>
							<li><a href="#">Interviews</a> (14)</li>
						</ul>
					</div>
					<div class="widget sidebar-widget">
						<div class="sidebar-widget-title">
							<h3>Post Tags</h3>
						</div>
						<div class="tag-cloud"> 
                        <!--
							<a href="#">Faith</a>
                            <a href="#">Heart</a>
                            <a href="#">Love</a>
                            <a href="#">Praise</a>
                            <a href="#">Sin</a>
                            <a href="#">Soul</a>
                            <a href="#">Missions</a>
                            <a href="#">Worship</a>
                            <a href="#">Faith</a>
                            <a href="#">Heart</a>
                            <a href="#">Love</a>
                            <a href="#">Praise</a>
                            <a href="#">Sin</a>
                            <a href="#">Soul</a>
                            <a href="#">Missions</a>
                            <a href="#">Worship</a> 
                        -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ end }}