<!-- start site footer -->
            <footer class="site-footer">
                <div class="container">
                    <div class="row"> 
                        <!-- Start Footer Widgets -->
                        <div class="col-lg-4 col-md-4 col-sm-12 widget footer-widget">
                            <h4 class="footer-widget-title">Who we are</h4>
                            <img src="/images/logo.png" alt="Logo">
                            <div class="spacer-20"></div>
                            <p>An ancient society for modern gentlemen, we are a fraternity of friends and Brothers united in our desire to be of service to our community while studying the Art and practicing the Craft of Freemasonry.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 widget footer-widget">
                            <h4 class="footer-widget-title">Masonic Organizations</h4>
                            <ul>
                                <li><a href="/">Zoneton Lodge Home</a></li>
                                <li><a href="https://www.grandlodgeofkentucky.org/">Grand Lodge of Kentucky</a></li>
                                <li><a href="https://www.louisvillescottishrite.com/">Louisville Scottish Rite</a></li>
                                <li><a href="https://www.yorkriteky.org/">Kentucky York Rite</a></li>
                                <li><a href="https://www.kosair.com/">Kosair Shriners</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 widget footer-widget">
                            <h4 class="footer-widget-title">Our Lodge on Facebook</h4>
                            <div class="fb-page" data-href="https://www.facebook.com/ZonetonLodge" data-tabs="timeline" data-width="" data-height="200" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ZonetonLodge" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ZonetonLodge">Zoneton Masonic Lodge</a></blockquote></div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end site footer -->

            <!-- start page footer -->
            <footer class="site-footer-bottom">
              <div class="container">
                <div class="row">
                  <div class="copyrights-col-left col-lg-6 col-md-6 col-sm-12">
                    <p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">Zoneton Lodge No. 964</a>, Free & Accepted Masons. All Rights Reserved.</p>
                  </div>
                  <div class="copyrights-col-right col-lg-6 col-md-6 col-sm-12">
                  <div class="social-icons"> 
                    <a href="https://www.facebook.com/ZonetonLodge/" target="_blank"><i class="fab fa-facebook-f"></i></a> 
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a> 
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a> 
                    <a href="https://github.com/solomonix/hugo-zoneton" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fas fa-rss"></i></a> 
                  </div>
                </div>
              </div>
            </div>
          </footer>
        <!-- end page footer --> 