<!-- Start Featured Gallery -->
		<div class="featured-gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12">
						<h4>From some recent events . . .</h4>
						<a href="#" class="btn btn-default btn-lg">More Media</a> 
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 post format-image"> 
						<a href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" class="media-box magnific-image"> <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""> </a> 
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 post format-video"> 
						<a href="http://youtu.be/NEFfnbQlGo8" class="media-box magnific-video"> <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""> </a> 
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 post format-image"> 
						<a href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" class="media-box magnific-image"> <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""> </a> 
					</div>
				</div>
			</div>
		</div>
<!-- End Featured Gallery --> 